/Semana04/SistVentaFlores/nbproject/private/
/Semana04/SistVentaFlores/build/
/ProyectoDemo/SistVentaFlores/dist/
/ProyectoDemo - copia/SistVentaFlores/build/
/ProyectoDemo - copia/SistVentaFlores/dist/
/ProyectoDemo - copia/SistVentaFlores/nbproject/private/